body, tbody {
    font-family: Verdana;
    font-size: 13px;
    margin: 0;
}
thead {
    font-size: 15px;
    font-weight: bold;
}
#header {
    background-color: #333;
    color: #9D5537;
    font-size: 35px;
    padding: 20px 0 10px 0;
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
}
#footer {
    background-color: #333;
    color: #9D5537;
    font-size: 10px;
    padding: 15px 0 15px 0;
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
}
#footer a[href] {
    color:white;
    text-decoration: none;    
}
#menu {
    background-color: #333;
    color: #9D5537;
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
    font-family: Verdana;
}
#menu a[href] {
    color:white;
    text-decoration: none;
}
table, th, td {
    border: 1px solid #555; 
    border-collapse: collapse;
}
table.center {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}
td {
    padding: 3px 5px;
}
.billimg {
    margin-top: 15px;
    border: 20px solid #000;
    border-radius: 2px;
}
#content {
    margin: 15px;
    text-align: center
}